# Port number for the Express server to run on
PORT=5000

# Your Gemini API Key from Google AI Studio (https://aistudio.google.com/)
GEMINI_API_KEY=AQ.Ab8RN6K9l9TIL2N08Z6dgo7B4H74Gc1B49mWqJV5nsXC4rmgLwre
